<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Note App</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1 class="title">My Notes</h1>

            <p class="subtitle">
                Simple FastAPI + MongoDB Note App
            </p>

            <input 
                type="text" 
                placeholder="Enter note title"
                class="input-box"
            >

            <textarea 
                placeholder="Write your note here..."
                class="note-box"
            ></textarea>

            <button class="save-btn">
                Save Note
            </button>

        </div>

    </div>

</body>
</html> 